[Desktop Entry]
Encoding=UTF-8
Name=NovaCoin
Comment=PumpCoin P2P Cryptocurrency
Comment[fr]=PumpCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PumpCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/PumpCoin
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/PumpCoin;
Categories=Office;
